body{
 background-color: black;
 padding: 0;
 margin: 0;
 font-family: sans-serif;
}

h2{
    position: relative;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

img{
    position: flex;
    align-items: left;
    text-align: left;
    border-radius: 30px;

}

p{
    position: flex;
    align-items: left;
    text-align: left;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
}